.R*
build*
doc/main.md
example/pet/pet_conv.data
example/pet/pet_real.data
include/cl.hpp
user_options.cmake

*-cilk.cpp
*-cilk.hpp
*-gcd.cpp
*-gcd.hpp
*-omp.cpp
*-omp.hpp
*-ppl.cpp
*-ppl.hpp
*-seq.cpp
*-seq.hpp
*-std.cpp
*-std.hpp
*-tbb.cpp
*-tbb.hpp
