build
docs/main.md
docs/news.md
user_guide/prg/pf
user_guide/prg/pf.pdf
user_guide/prg/pf.rout
user_guide/prg/pf_ocl
user_guide/prg/pf_seq
user_guide/prg/pf_seq_c
user_guide/prg/pf_tbb
user_guide/prg/pf_tbb_c
user_guide/prg/program_option
user_guide/prg/progress
user_guide/prg/rng
user_guide/prg/rng_c
user_guide/tab/rng_distribution_*.tex
user_guide/tab/rng_engine_*.tex
